:root {
    --linear-color-1: #FFE53B;
    --linear-color-2: #FA709A;
}
* {
    font-family: "Comic Neue", serif;
    font-weight: 700;
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.wrap {
    position: relative;
    display: none;
}
html {
    overflow: hidden;
}
.icon_lixi {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-image: url(./picture/lixi.png);
    background-size: cover;
    animation: lixi 5s ease-in-out forwards;
    z-index: 10;
}
@keyframes lixi {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(50px, 50vh);
        display: none;
    }
}
#c {
    width: 100%;
    height: 100vh;
}
.text {
    position: absolute;
    inset: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2, h3 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    font-size: 3.6rem;
    line-height: 4.5rem;
    color: #fc6d6d;
}
h2 {
    background: -o-linear-gradient(left, var(--linear-color-1), var(--linear-color-2));
    background: -webkit-gradient(linear, left top, right top, from(var(--linear-color-1)), to(var(--linear-color-2)));
    background: linear-gradient(45deg, var(--linear-color-1) 0%, var(--linear-color-2) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transform: translateY(-15px);
}
h3 {
    font-size: 3rem;
    text-align: center;
    background: -o-linear-gradient(right, var(--linear-color-2), var(--linear-color-1), var(--linear-color-2));
    background: -o-linear-gradient(135deg, var(--linear-color-2), var(--linear-color-1), var(--linear-color-2));
    background: linear-gradient(-45deg, var(--linear-color-2), var(--linear-color-1), var(--linear-color-2));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
h2::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    border-left: 2px solid #fc6d6d;
    animation: typing 2s steps(15) forwards, hidden 0.4s 2s infinite linear;
}
h3::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    border-left: 2px solid #fc6d6d;
    animation: typing 5s 2.5s steps(50) forwards, hidden 0.4s 7.5s infinite linear;
}

@keyframes typing {
    100% { 
       left: 100%; 
       margin: 0px 10px;
    }
}
@keyframes hidden {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* btn */
audio {
    display: none;
}
.btn__wrap {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
} 
h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.4rem;
    color: var(--linear-color-2);
    border: 3px solid var(--linear-color-2);
    background-color: rgb(253, 198, 207);
    padding: 8px 10px;
    border-radius: 99px;
    box-shadow: 0px 0px 15px var(--linear-color-2);
    cursor: pointer;
}

.gift {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    width: 100px;
    cursor: pointer;
    animation: animation 0.5s ease-in-out infinite;
    filter: drop-shadow(0 0 10px red);
    z-index: 1000;
}
@keyframes animation {
    from {
        transform: rotate3d(1, 2, 3, -10deg);
    }
    to {
        transform: rotate3d(1, 2, 3, 10deg);
    }
}

.gift__content {
    position: fixed;
    inset: 0;
    display: flex;
    z-index: 10;
    display: none;
}
.gift__content-blur {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.gift__wrap {
    position: relative;
    width: 220px;
    height: 280px;
    margin: auto;
    border-radius: 5px;
    background-color: #fff;
    padding: 30px 12px;
    z-index: 20;
}
.img__qr {
    display: inline-block;
    width: 100%;
}
.close {
    position: absolute;
    top: 3px;
    right: 5px;
    cursor: pointer;
}
.down__img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 12px;
    padding: 4px 8px;
    font-size: 1.6rem;
    font-weight: 900;
    cursor: pointer;
    background-color: rgb(252, 208, 216);
    border: 1px solid #ff0c55;
    color: #fc6d6d;
    border-radius: 5px;
    text-decoration: none;
}